<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.operit.tg2qq"
    android:versionCode="16"
    android:versionName="2.7">
    <uses-sdk android:minSdkVersion="26" android:targetSdkVersion="34" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <application
        android:label="TG2QQ 转发模块"
        android:theme="@android:style/Theme.Material.Light.DarkActionBar"
        android:debuggable="true" android:usesCleartextTraffic="true">
        <meta-data android:name="xposedmodule" android:value="true" />
        <meta-data android:name="xposeddescription" android:value="Telegram 频道新消息自动转发到指定 QQ 群（本地监听，无需 Bot）" />
        <meta-data android:name="xposedminversion" android:value="82" />
        <activity
            android:name="com.operit.tg2qq.config.SettingsActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <provider
            android:name="com.operit.tg2qq.config.ConfigProvider"
            android:exported="true"
            android:authorities="com.operit.tg2qq.config" />
    </application>
</manifest>
